body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
}

#errorMessage {
    display: none;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 150px;
}